.home {
  width: 100%;
  height: 100vh;
  background-image: url(../images/home_bg.jpeg);
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
