// ? Sultan

// Starship
.starship {
  background-image: url(../images/Starhip_website-crop20230126_dji_0199_01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    height: 850px;
    align-items: center;
    justify-content: center;
    .titleHome {
      text-align: center;
      h1 {
        color: white;
        letter-spacing: -1px;
        font-weight: 400;
        font-size: 100px;
        margin: auto;
        font-family: "D-DIN-Bold";
      }
      h3 {
        color: white;
        font: 20px/32px D-DIN-Medium, Arial, Verdana, sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    }
  }
}
// Overview
.overview {
  height: 746px;
  background-image: url(../images/WebsiteStarship_Render_Desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    // flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
    .aboutOverview {
      width: 35%;

      .titleOverview {
        h2 {
          color: white;
          font-weight: 400;
          margin-right: 52px;
          font-size: 48px;
          line-height: 48px;
          font-family: "D-DIN-Bold";
        }
        p {
          margin: 20px 0 15px;
          color: white;
        }
      }
      table {
        tr {
          td {
            color: white;
          }
        }
      }
    }
  }
}
// Video Section
.video {
  background-image: url(../images/STARSHIP_CAPABILITIES_StarshipAnimation_Desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 746px;
  .row {
    
    .icon {
      height: 746px;
      margin-top: 373px;
      
      margin-left:844px ;
      i {
        
        font-size: 50px;
        color: white;
      }
    }
  }
}
